a {
  color: var(--main-red);
  text-decoration: none;
  transition: color 200ms ease;
}

a:hover {
  color: var(--secondary-red);
}

p {
  max-width: 50vh;
  min-width: 30vh;
}

.main {
  margin: 8px 0;
}

.pageContainer {
  display: flex;
}

.page {
  padding: 0 0 0 2rem;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 40%);
  gap: 3rem;
  align-items: center;
}

.gridContainer {
  display: grid;
  gap: 1rem;
}


.linkAndImageContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.imageContainer {
  margin: 8em 0;
  float: right;
}

.image {
  padding: 0 2em;
  max-width: 30vh;
  max-height: 30vh;
}

.viewport {
  height: 100vh;
  overflow: hidden;
}

.progressBar {
  position: absolute;
  z-index: 99999; 
  background-color: var(--main-red);
  width: 1em;
  transition: height 200ms ease-in;
  border-radius: 8px;
  max-height: 96vh;
}

.section {
  max-height: 100vh;
  max-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlightedItems {
  display: flex;
  max-width: 50vh;
  min-width: 30vh;
}

.flexBox {
  display: flex
}

.fade {
  animation: fade 260ms ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

