a {
  color: var(--main-red);
  text-decoration: none;
  transition: color 200ms ease;
}

a:hover {
  color: var(--secondary-red);
}

p {
  max-width: clamp(60vw, 90vw, 100rem);
  font-size: clamp(0.8rem, 1.6vmin, 3rem);
}

section {
  margin: 2rem 0;
  font-size: clamp(0.8rem, 1.6vmin, 3rem);
}

.highlightedItems {
  display: flex;
  max-width: 50vh;
  min-width: 30vh;
  font-size: clamp(0.8rem, 1.6vmin, 3rem);
}

.page {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 40%);
  gap: 1rem;
  align-items: center;
}

.gridContainer {
  display: grid;
  gap: 1rem;
}


.linkAndImageContainer {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 0.75em;
}

.imageContainer {
  margin: 2rem 0;
  float: right;
}

.image {
  padding: 0 2em;
  max-width: 60vw;
  max-height: 40vh;
}

.viewport {
  height: 100vh;
  overflow: hidden;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBox {
  display: flex
}

.navigation {
  margin: 1rem 0;
  border-bottom: solid 0.2rem;
}

.fade {
  animation: fade 260ms ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

