a {
  color: var(--main-red);
  text-decoration: none;
  transition: color 200ms ease;
}

a:hover {
  color: var(--secondary-red);
}

.pageContainer {
  display: flex
}

.pageContainer.reverse {
  flex-direction: row-reverse
}

.page {
  max-width: 60em;
}

.linkAndImageContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.imageContainer {
  margin: 5rem 0;
  float: right;
}

.image {
  padding: 0 2em;
  max-width: 40em;
}

.viewport {
  height: 100vh;
  overflow: hidden;
}

.progressBar {
  position: absolute;
  z-index: 99999; 
  background-color: var(--main-red);
  width: 1em;
  display: inline-block;
  transition: height 200ms ease-in;
}

.section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlightedPartContainer {
  display: flex
}

.fade {
  animation: fade 260ms ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

