a {
  color: var(--main-red);
  text-decoration: none;
  transition: color 200ms ease;
}

a:hover {
  color: var(--secondary-red);
}

p {
  max-width: clamp(60vw, 90vw, 100rem);
  font-size: clamp(0.4rem, 1.5vmin, 2rem);
}

section {
  font-size: clamp(0.4rem, 1.5vmin, 2rem);
}

.main {
  margin: 4px 0;
}

.highlightedItems {
  display: flex;
  max-width: 50vh;
  min-width: 30vh;
  font-size: clamp(0.4rem, 1.5vmin, 2rem);
}

.page {
  padding: clamp(1.5rem, 2vw, 2rem) 1.5rem;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 40%);
  gap: 1rem;
  align-items: center;
}

.gridContainer {
  display: grid;
  gap: 1rem;
}


.linkAndImageContainer {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 0.75em;
}

.imageContainer {
  margin: 2rem 0;
  float: right;
}

.image {
  padding: 0 2em;
  max-width: 100%;
  max-height: 20vh;
}

.viewport {
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 30vw) {
  .page aside {
    display: none;
  }
}

@media (max-height: 800px) {
  .page aside {
    display: none;
  }
}


.progressBar {
  position: absolute;
  z-index: 99999; 
  background-color: var(--main-red);
  width: 0.5rem;
  transition: height 200ms ease-in;
  border-radius: 8px;
  max-height: 96vh;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBox {
  display: flex
}

.fade {
  animation: fade 260ms ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

